services:
  app:
    environment:
      - GEMINI_API_KEY=COLOQUE SUA CHAVE AQUI
      - GROQ_API_KEY=COLOQUE SUA CHAVE AQUI
    build: .
    working_dir: /app
    volumes:
      - .:/app
    command: python app.py
